
@import 'src/styles/variables';
:host {
    display: flex;
    height: 100%;
    justify-content: start;
    background-color: $darker;

    aside {
        height: 100%;
    }

    main {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}