@import 'src/styles/variables';

:host {
    #typeahead-format::placeholder {
        color: blue; /* Schimbă culoarea placeholder-ului în albastru */
      }
}

.custom-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)); 
  text-decoration: underline; 
  cursor: pointer; 
}

.custom-link:hover {
  color: #0056b3; /* Tre facut mov mai luminos*/
  text-decoration: underline; 
}

input::placeholder {
  color: var(--bs-secondary) !important;  /* Culoare Bootstrap de tip 'danger' */
}

