:host {
    height: 100%;
    width: 280px;
    padding-top: 107px;
    -webkit-box-shadow: 6px 2px 38px -26px rgba(44,94,245,1);
    -moz-box-shadow: 6px 2px 38px -26px rgba(44,94,245,1);
    box-shadow: 6px 2px 38px -26px rgba(44,94,245,1);
}