:host{
  $smSpace: 1rem;
  $mdSpace: 2rem;
  
  html {
    block-size: 100%;
  }
  
  body {
    min-block-size: 100%;
    box-sizing: border-box;
    margin: 0;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var($mdSpace);
    padding-block-start: calc(var($mdSpace) * 2);
    padding-block-end: var($mdSpace);
  
    font-family: system-ui, sans-serif;
  }
  
  main {
    padding: 60px 0;
  }
}