<div class="modal-body">
  <div class="container h-100">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <section id="first-step" class="col-12" *ngIf="step === 1">
              <h1 class="h3 mb-3 fw-normal">First thing first</h1>
              <div class="row mb-3">
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control border border-0"
                    id="firstName"
                    placeholder="First Name"
                    formControlName="firstName"
                  />
                </div>
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control border border-0"
                    id="name"
                    placeholder="Last Name"
                    formControlName="lastName"
                  />
                </div>
              </div>

              <div class="mb-3">
                <input
                  type="email"
                  class="form-control border border-0"
                  id="email"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>

              <div class="mb-3">
                <input
                  type="password"
                  class="form-control border border-0"
                  id="password"
                  placeholder="Create your password"
                  formControlName="password"
                />
              </div>

              <div class="mb-3">
                <input
                  type="password"
                  class="form-control border border-0"
                  id="confirmPassword"
                  placeholder="Confirm your password"
                  autocomplete="false"
                  formControlName="confirmPassword"
                />
              </div>
              <div class="text-muted">
                <p>At least 8 character long.</p>
                <p>At least one uppercase letter.</p>
                <p>At least one lowercase letter.</p>
                <p>At least one special character(&*%$#)</p>
              </div>
              <input
                class="form-check-input me-2 mb-3"
                type="checkbox"
                id="agreeTC"
              />
              <label for="agreeTC">
                I read & agree to Vieew's <a href="#">Terms & Conditions</a>
              </label>
              <button
                class="btn btn-gradient-primary w-100 py-2 mt-3"
                type="submit"
              >
                Continue
              </button>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
