<div class="profile-wrapper mt-5">
  <div class="profile d-flex mb-5">
    <div class="profile-image ">
      <img class="rounded-5 border border-4 border-black" src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="" style="width: 200px; height: 200px;">
    </div>
    <div class="profile-details ms-4 d-flex flex-column justify-content-end">
      <h2 class="mb-0 ">{{ profile }}</h2>
      <h6 class="text-secondary mb-2">Bucharest, Romania</h6>
      <h4 class="mb-3">I design experiences mostly. I also sometimes travel.</h4>
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex align-items-center">
          <div class="d-flex">
            <a>
              <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="avatar" class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover" />
            </a>
            <a>
              <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="avatar" class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover; margin-left: -15px" />
            </a>
            <a>
              <img src="https://images.unsplash.com/photo-1457449940276-e8deed18bfff?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="avatar" class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover; margin-left: -15px" />
            </a>
            <a>
              <img src="https://plus.unsplash.com/premium_photo-1675034393635-ae45492f9be6?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="avatar" class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover; margin-left: -15px" />
            </a>
            <a>
              <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D" alt="avatar" class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover; margin-left: -15px" />
            </a>
          </div>
          <p class="m-0 text-secondary me-5">Followed by Radu, Ion and 12+ others</p>
        </div>
        <div class="d-flex flex-row justify-content-end">
          <span class="me-5">6,281 <br> Followers</span>
          <span class="me-5">6,281 <br> Following</span>
          <button type="button" class="btn btn-gradient-primary">Follow</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <button ngbNavLink>Dashboard</button>
        <ng-template ngbNavContent>
          <p>Asta trebuie sa fie activ doar daca intra userul logat pe profilul lui.</p>
        </ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Posts</button>
        <ng-template ngbNavContent>
          <div appFeeds class="px-4"></div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Services</button>
        <ng-template ngbNavContent>
          <div class="d-flex flex-row mt-5">
            <div class="card p-4 me-3 bg-dark border-0" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://images.unsplash.com/photo-1579389083046-e3df9c2b3325?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8d29ya2luZ3xlbnwwfDF8MHx8fDA%3D" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body ms-3 pt-0 ">
                    <h2><span class="badge rounded-4 text-bg-secondary">Tag</span></h2>
                    <h2 class="card-text">Service 1</h2>
                    <h3 class="card-title text-primary mt-0 mb-3">176 vieews</h3>
                    <h4 class="text-secondary mb-3">Lorem Ipsum Dolor sit amet.</h4>
                    <button type="button" class="btn btn-gradient-primary btn-lg" style="width: 10rem; height: 4rem; font-size: 20px; font-weight: bold;">Book Now</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card p-4 me-3 bg-dark border-0" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://images.unsplash.com/photo-1544655152-4dc3bc4df059?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdvcmtpbmd8ZW58MHwxfDB8fHww" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body ms-3 pt-0 ">
                    <h2><span class="badge rounded-4 text-bg-secondary">Tag</span></h2>
                    <h2 class="card-text">Service 2</h2>
                    <h3 class="card-title text-primary mt-0 mb-3">176 vieews</h3>
                    <h4 class="text-secondary mb-3">Lorem Ipsum Dolor sit amet.</h4>
                    <button type="button" class="btn btn-gradient-primary btn-lg" style="width: 10rem; height: 4rem; font-size: 20px; font-weight: bold;">Book Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>