<GridLayout rows="*, auto" class="login-container">
  <StackLayout row="0" class="form" verticalAlignment="center">

    <StackLayout class="input-container">
      <TextField [(ngModel)]="username" hint="Username" class="input" style="padding: 10 20"></TextField>
    </StackLayout>

    <StackLayout class="input-container">
      <TextField [(ngModel)]="password" hint="Password" secure="true" class="input" style="padding: 10 20"></TextField>
    </StackLayout>

    <Button text="Login" (tap)="onLogin()" class="button" [isEnabled]="!isLoading"></Button>

    <ActivityIndicator busy="{{ isLoading }}"></ActivityIndicator>
    <Label text="Don't have an account? Sign up" class="signup-label" (tap)="onSignup()" textAlignment="center"></Label>
  </StackLayout>
</GridLayout>
