@import 'src/styles/variables';


:host {
    .form-check {
        .form-check-input {
            display: none;
            padding: 0;
        }

        .form-check-label {
            display: flex;
            flex-flow: column;
            border: 1px solid transparent;
        }
        .form-check-input:checked + .form-check-label {
            border: 1px solid $primary;
        }
    }

}