<div class="container">
  <div class="row">
    <div class="col-6">
  
    </div>
  
    <div class="form-signin col-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal">First thing first</h1>

        <div class="row">
          <div class="col-6">
            <div class="mb-3">
              <input type="name" class="form-control" id="name" placeholder="Name" autocomplete="false" formControlName="name">
            </div>
          </div>
          <div class="col-6"></div>
        </div>
       
        <div class="mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" autocomplete="false" formControlName="email">
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="false" formControlName="password">
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" id="confirmPassword" placeholder="Password" autocomplete="false" formControlName="confirmPassword">
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <button class="btn btn-gradient-primary w-100 py-2 mb-3" type="submit">Sign in</button>
      </form>
    </div>
  
  </div>
</div>
