@import "src/styles/variables";
:host {
  height: 100%;
  display: flex;

  .main-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    main {
      height: 100%;
      overflow: auto;
      width: calc(100% - 280px);
      padding-top: 107px;
      padding-left: 150px;
      padding-right: 150px;
    }
  }

  .loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
