// @import 'src/styles/variables';

:host {
  .card {
    border: transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-bottom: 15px;
    .card-title {
      display: flex;
      align-items: center;
      margin: 0;
      color: black;
      font-weight: 700;
      .circle {
        width: 46px;
        height: 46px;
        padding: 12px;
        border-radius: 50%;
      }
    }
    .card-image {
      height: 350px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .card-actions {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
    }
    .card-text {
      padding: 10px 15px;
      font-size: 10px;
      p {
        margin-bottom: 0;
      }
    }
  }
}
