<div class="container pt-6 h-100 d-flex justify-content-center">
  <div class="maxwidth row h-100 d-flex">
    <h1>Glad to know you,</h1>
    <p>Welcome! We are VIEEW, and we are....Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu diam tellus. Nunc sit amet facilisis augue. Aenean vitae congue ex. Maecenas posuere lectus luctus enim accumsan rutrum eu a dolor. Suspendisse auctor lacinia maximus. Nulla egestas turpis sit amet magna bibendum, eu aliquet ipsum vestibulum. Fusce suscipit velit a arcu dignissim, eu pellentesque magna dignissim. </p>
    <a class="align-self-end" href="/">Start your journey</a>
  </div>
</div>