


$body-color-dark:                  #ffffff;
$body-bg-dark: #10101A;
$text-bg-gray: #181932;


// $primary: #181932;

// $body-bg: #10101A;
// $body-color: #fff;

// $link-color: #fff;

// $nav-link-color: #fff;

