/* Bootstrap overrides */
@import 'variables';
@import 'variables-dark';

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';

// Mixins
@import 'mixins';


/*  Base */
@import 'base/layout';
@import 'base/forms';

// Components
@import 'buttons';
@import 'components/dropdown';

/*  Vendor */
@import 'vendor/reset';
