<div class="modal-header d-flex flex-column align-items-center position-relative pt-5 border-0 rounded-5">
  <button
    type="button"
    class="btn-close position-absolute"
    style="top: 15px; right: 15px;"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
  <h1 class="modal-title" id="modal-basic-title">Login to Vieew</h1>
  <p class="pt-2">You need to login to access more content.</p>
</div>

<div class="modal-body px-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Verification Code</h1>
    
    <div *ngIf="serverError" class="alert alert-default text-danger ps-0">
      {{ serverError }}
    </div>
    <div class="mb-3">
      <input type="text" class="form-control border border-0" id="verificationCode" placeholder="Verification Code" formControlName="verificationCode">
    </div>

    <p class="text-end mb-2"><a href="#">Do you need another one?</a></p>
    <div class="text-center mb-5">
      <button class="btn btn-gradient-primary w-75 py-2 my-5" type="submit">Send the verification code</button>
    </div>
  </form>
</div>
<div class="modal-footer border-0 d-flex justify-content-center align-items-center flex-column mb-3">
    <p class="text-center text-secondary mb-2">By continuing, you agree to Vieew's <a routerLink="">Terms of Service</a> and <br> that you have read Vieew's <a routerLink="">Privacy Policy</a>.</p>
    <h5>Don't have an account?  <a class="custom-link" (click)="openRegister()">Sign Up!</a></h5>
</div>
