<ng-container [ngSwitch]="step">
  <ng-container *ngSwitchCase="'REQUEST'">
    <div class="modal-header d-flex flex-column align-items-center position-relative pt-5 border-0 rounded-5">
      <button
        type="button"
        class="btn-close position-absolute"
        style="top: 15px; right: 15px;"
        aria-label="Close"
        (click)="activeModal.dismiss()"
      ></button>
      <h1 class="modal-title" id="modal-basic-title">Forgot password?</h1>
      <p class="pt-2">Enter your email to receive a password reset link.</p>
    </div>
    <div class="modal-body px-5">
      <form [formGroup]="requestPasswordReset" (ngSubmit)="onSubmitRequest()">
        <div *ngIf="serverError" class="alert alert-default text-danger ps-0">
          {{ serverError }}
        </div>
        <div class="mb-3">
          <input type="text" class="form-control border border-0" id="email" placeholder="Email"
            formControlName="email">
          <p class="text-danger" *ngIf="errorMessages?.email">{{ errorMessages?.email }}</p>
        </div>

        <div class="text-center mb-5">
          <button class="btn btn-gradient-primary w-75 py-2 my-5" type="submit">Request password reset</button>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'RESET'">
    <div class="modal-header d-flex flex-column align-items-center position-relative pt-5 border-0 rounded-5">
      <button
        type="button"
        class="btn-close position-absolute"
        style="top: 15px; right: 15px;"
        aria-label="Close"
        (click)="activeModal.dismiss()"
      ></button>
      <h1 class="modal-title" id="modal-basic-title">New password</h1>
      <p class="pt-2">Enter your details and new password.</p>
    </div>
    <div class="modal-body px-5">
      <form [formGroup]="passwordReset" (ngSubmit)="onSubmitReset()">
        <div *ngIf="serverError" class="alert alert-default text-danger ps-0">
          {{ serverError }}
        </div>
        <div class="mb-3">
          <input type="text" class="form-control border border-0" id="email" placeholder="Email"
            formControlName="email">
          <p class="text-danger" *ngIf="errorMessages?.email">{{ errorMessages?.email }}</p>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control border border-0" id="password" placeholder="Create your password"
            formControlName="password">
          <p class="text-danger" *ngIf="errorMessages?.password">{{ errorMessages?.password }}</p>
        </div>

        <div class="mb-3">
          <input type="password" class="form-control border border-0" id="confirmPassword"
            placeholder="Confirm your password" autocomplete="false" formControlName="confirmPassword">
          <p class="text-danger" *ngIf="errorMessages?.confirmPassword">{{ errorMessages?.confirmPassword }}</p>
        </div>

        <div class="text-muted">
          <p>At least 8 character long.</p>
          <p>At least one uppercase letter.</p>
          <p>At least one lowercase letter.</p>
          <p>At least one special character(&*%$#)</p>
        </div>

        <div class="mb-3">
          <input type="text" class="form-control border border-0" id="confirmationCode" placeholder="Confirmation code"
            autocomplete="false" formControlName="confirmationCode">
          <p class="text-danger" *ngIf="errorMessages?.confirmationCode">{{ errorMessages?.confirmationCode }}</p>
        </div>

        <div class="text-center mb-5">
          <button class="btn btn-gradient-primary w-75 py-2 my-5" type="submit">Request password reset</button>
        </div>
      </form>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'COMPLETE'">
    <div class="modal-header d-flex flex-column align-items-center position-relative pt-5 border-0 rounded-5">
      <button
        type="button"
        class="btn-close position-absolute"
        style="top: 15px; right: 15px;"
        aria-label="Close"
        (click)="activeModal.dismiss()"
      ></button>
      <h1 class="modal-title" id="modal-basic-title">It was a complete success!</h1>
      <p class="pt-2 text-center">Your password was succesfully changed. You can login now with your new password.</p>
    </div>
    <div class="modal-body px-5">
      <div class="d-flex align-items-center">
        <button class="btn btn-gradient-primary w-75 py-2 me-2" type="button"
          (click)="openLogin()">Login</button>
        <button class="btn btn-gradient-primary w-75 py-2" type="button"
          (click)="activeModal.dismiss()">Close</button>
      </div>
    </div>
  </ng-container>

</ng-container>