<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt=""
    width="72" height="57">
  <h2>Checkout form</h2>
  <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a
    validation state that can be triggered by attempting to submit the form without completing it.</p>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row g-5">
    <div class="col-6 mb-3">
      <div class="form-group">
        <label class="form-label" for="name">Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="name" aria-describedby="Name" formControlName="name" />
      </div>
      <div class="form-group">
        <label class="form-label" for="description">Description <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="description" aria-describedby="Description"
          formControlName="description" />
      </div>
      <div class="form-group">
        <label class="form-label" for="price">Price <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="price" aria-describedby="Price" formControlName="price" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-primary">Save</button>
</form>