
  <div class="flex-grow-1 me-5">
    <div class="search-wrap position-relative">
      <input
          id="typeahead-format"
          type="text"
          class="form-control bg-transparent shadow-none"
          placeholder="Search"
          [(ngModel)]="model"
          (selectItem)="selectItem($event)"
          (keydown.enter)="onKeypress()"
          [ngbTypeahead]="search"
          [resultFormatter]="formatter"
        />
        <span class="material-symbols-outlined position-absolute">search</span>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <button type="button" class="btn btn-default me-3">
      <span class="material-symbols-outlined">
        notifications
      </span>
    </button>
    <div ngbDropdown display="dynamic" class="d-inline-block">
			<div ngbDropdownToggle class="d-flex align-items-center p-0" id="dropdownBasic1" >
        <img src="https://source.unsplash.com/collection/happy-people" alt="avatar" class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
        <p class="m-0 fw-bold">{{ 'USER_NAME'}}</p>
      </div>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem>Action - 1</button>
				<button ngbDropdownItem>Another Action</button>
				<button ngbDropdownItem>Something else is here</button>
			</div>
		</div>
  </div>