<header class="p-3 mb-3 border-bottom">
  <div class="d-flex flex-wrap align-items-center justify-content-between">
    <div class="d-flex">
      <a [routerLink]="" class="d-flex align-items-center mb-2 me-2 mb-lg-0 text-decoration-none">
        <img src="./assets/images/logo.png" alt="" style="width: 30px;">
      </a>

      <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="" class="nav-link active">Why Vieew</a></li>
        <li><a [routerLink]="" class="nav-link">Token Sale</a></li>
        <li><a [routerLink]="" class="nav-link">Passive Income</a></li>
        <li><a [routerLink]="" class="nav-link">Roadmap</a></li>
        <li><a [routerLink]="" class="nav-link">Team</a></li>
        <li><a [routerLink]="" class="nav-link">Partners</a></li>
        <li><a [routerLink]="" class="nav-link">Contact</a></li>
        <li><button [routerLink]="" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></button></li>
      </ul>
    </div>
    <div class="d-flex">
      <ul class="nav">
        <li><button [routerLink]="['/register']" class="btn btn-gradient-primary me-2">Sign Up</button></li>
        <li><button [routerLink]="['/login']" class="btn btn-gradient-primary">Login</button></li>
      </ul>
    </div>
  </div>
</header>