<a routerLink="/" class="navbar-brand py-4">
  <img src="./assets/images/logo_horizontal.png" alt="" style="width: 9rem" />
</a>
<div
  class="d-flex align-items-center flex-grow-1 justify-content-between py-4 bg-darker"
  style="padding-left: 130px; margin-left: 20px"
>
  <div class="search-wrap position-relative">
    <input
      id="typeahead-format"
      type="text"
      class="form-control border border-0 shadow-none"
      placeholder="Search"
      [(ngModel)]="model"
      (selectItem)="selectItem($event)"
      (keydown.enter)="onKeypress()"
      [ngbTypeahead]="search"
      [resultFormatter]="formatter"
    />
    <span class="material-symbols-outlined position-absolute">search</span>
  </div>
  <div class="d-flex align-items-center justify-content-end" *ngIf="userName; else authenticationActions">
    <button
      type="button"
      class="btn btn-default d-flex align-items-center me-3"
    >
      <span class="material-symbols-outlined"> notifications </span>
    </button>
    <div ngbDropdown display="dynamic" class="d-inline-block">
      <div
        ngbDropdownToggle
        class="d-flex align-items-center p-0"
        id="dropdownBasic1"
      >
        <img
          src="https://placehold.co/80x80"
          alt="avatar"
          class="rounded-circle me-2"
          style="width: 38px; height: 38px; object-fit: cover"
        />
        <p class="m-0 fw-bold">{{ userName }}</p>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button
          ngbDropdownItem
          class="d-flex align-items-center"
          routerLink="/profile"
        >
          <span class="material-symbols-outlined me-2">account_circle </span>My
          Profile
        </button>
        <button ngbDropdownItem class="d-flex align-items-center">
          <span class="material-symbols-outlined me-2">settings</span>Account
          Settings
        </button>
        <button ngbDropdownItem class="d-flex align-items-center">
          <span class="material-symbols-outlined me-2">description</span>Legal
        </button>
        <button ngbDropdownItem class="d-flex align-items-center">
          <span class="material-symbols-outlined me-2">info</span>About Vieew
        </button>
        <button ngbDropdownItem class="d-flex align-items-center">
          <span class="material-symbols-outlined me-2">help</span>Help & Support
        </button>
        <button
          ngbDropdownItem
          class="d-flex align-items-center"
          (click)="logout()"
        >
          <span class="material-symbols-outlined me-2">logout</span>Log Out
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #authenticationActions>
  <div class="d-flex align-items-center justify-content-end">
    <button type="button" class="btn btn-sm btn-gradient-primary me-2" (click)="openLogin()">Login In</button>
    <button type="button" class="btn btn-sm btn-gradient-primary" (click)="openRegister()">Sign up</button>
  </div>
</ng-template>
