@import 'src/styles/variables';

:host {
    display: flex;
    align-items: center;
    // background-color: $darker;

    .navbar-brand {
        display: flex;
        justify-content: center;
        width: 280px;
        margin: 0;
    }

    .search-wrap {
        flex: 0.97;
        input {
            padding-left: 40px;
            border-radius: 10px;
        }
        span {
            top: calc(50% - 12px);
            left: 10px;
        }
    }

    .dropdown {
        .dropdown-toggle {
            box-shadow: none;
            &:after {
                display: none;
            }
            &:active, 
            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
}