<div class="container h-100">
  <div class="row h-100 d-flex align-items-center">
    <div class="form-signin col-12 col-lg-4 offset-lg-7">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="h3 mb-3 fw-normal">Login to Vieew</h1>

        <div class="input-group mb-3">
          <span class="input-group-text border border-0" id="basic-addon1">
            <span class="material-symbols-outlined text-muted">alternate_email</span>
          </span>
          <input type="email" class="form-control border border-0" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="input-group">
          <span class="input-group-text border border-0" id="basic-addon1">
            <span class="material-symbols-outlined text-muted">key</span>
          </span>
          <input type="password" class="form-control border border-0" id="password" placeholder="Password" formControlName="password">
        </div>

        <p class="text-end mb-2"><a [routerLink]="['/password-reset']">Forgot passowrd?</a></p>
        <div class="text-center mb-5">
          <button class="btn btn-gradient-primary w-75 py-2 my-5" type="submit">Sign in</button>
        </div>
        <button class="btn btn-light w-100 py-2 mb-3 d-flex align-items-center justify-content-center" type="submit">
          <img class="me-2" src="./assets/images/logos/facebook_logo.png" style="width: 20px;" alt="">Continue with
          Facebook
        </button>
        <button class="btn btn-light w-100 py-2 mb-3 d-flex align-items-center justify-content-center" type="submit">
          <img class="me-2" src="./assets/images/logos/google_logo.webp" style="width: 25px;" alt="">Continue with
          Google
        </button>
        <button class="btn btn-light w-100 py-2 mb-3 d-flex align-items-center justify-content-center" type="submit">
          <img class="me-2" src="./assets/images/logos/apple_logo.png" style="width: 25px;" alt="">Continue with Apple
        </button>
      </form>
    </div>

  </div>
</div>