<div class="container">
  <section class="mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nike</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </section>
  <section *ngIf="feed$ | async as feed">
    <div class="row" *ngIf="feed.length">
      <div class="col-6" *ngFor="let video of feed">
        <div class="card">
          <img [src]="video?.thumbnail" alt="" (click)="openMediaPlayer(video)">
          <div class="card-body">
            <h5 class="card-title"><a class="text-black" [routerLink]="['/profile', video.author]">{{ video?.author }}</a></h5>
            <p class="card-text">{{ video?.title }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>