<section appStoriesComponent></section>
<section class="feed">
  <div class="card">
    <div class="card-title px-2">
      <span class="avatar"></span>
      <span>Nike</span>
    </div>
    <div class="card-image"></div>
    <div class="card-actions px-2">
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-send"></i>
      </a>
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-heart"></i>
      </a>
    </div>
    <div class="card-text px-2">
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-title px-2">
      <span class="avatar"></span>
      <span>Nike</span>
    </div>
    <div class="card-image"></div>
    <div class="card-actions px-2">
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-send"></i>
      </a>
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-heart"></i>
      </a>
    </div>
    <div class="card-text px-2">
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-title px-2">
      <span class="avatar"></span>
      <span>Nike</span>
    </div>
    <div class="card-image"></div>
    <div class="card-actions px-2">
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-send"></i>
      </a>
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-heart"></i>
      </a>
    </div>
    <div class="card-text px-2">
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-title px-2">
      <span class="avatar"></span>
      <span>Nike</span>
    </div>
    <div class="card-image"></div>
    <div class="card-actions px-2">
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-send"></i>
      </a>
      <a class="btn btn-link text-black" aria-current="page" href="#">
        <i class="bi bi-heart"></i>
      </a>
    </div>
    <div class="card-text px-2">
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</section>
