// @import 'src/styles/variables';

:host {
  .navbar {
    background-color: #0b0c22;
    .navbar-nav {
      flex-direction: row;
      flex: 1;
      align-items: center;
      justify-content: space-around;
      li {
        a {
          color: white;
          padding: 13px 0px;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
