
<div class="modal-body overflow-hidden py-0" style="max-height: 100vh;">
  <div class="row">
    <div class="col-8 d-flex justify-content-between align-items-center bg-dark-subtle">
      <button type="button" class="btn-close align-self-start mt-3" aria-label="Close" (click)="activeModal.close()"></button>
      <img src="https://source.unsplash.com/collection/happy-people" alt="" style="max-width: 70%;">
      <div class="d-flex flex-column align-items-center">
        <div class=" d-flex align-self-start mt-3">
          <button class="btn btn-primary bg-secondary me-md-2 border-0 mb-5 rounded-pill px-3x py-1" type="button">Report</button>
        </div>
        <div class="d-flex flex-column align-self-center">
          <button class="btn btn-primary bg-secondary me-md-2 border-0 rounded-pill px-4 py-1 mb-3"><span class="material-symbols-outlined">expand_less</span></button>
          <button class="btn btn-primary bg-secondary me-md-2 border-0 rounded-pill px-4 py-1"><span class="material-symbols-outlined">expand_more</span></button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-between align-items-center py-3">
        <div class="d-flex">
          <img [src]="feed.avatar" alt="avatar" class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
          <div>
           <a routerLink="">
            <p class="m-0 fw-bold">{{ feed.author }}</p>
           </a> 
            <span class="text-muted fs-7">{{ feed.timestamp }}</span>
          </div>
        </div>
        <button class="btn btn-primary btn-gradient-primary me-md-2 border-0" type="button">Follow</button>
      </div>
      <div class="pb-4">
        {{ feed.content }}
      </div>
      <div class="feed-actions d-flex flex-row mt-1 border-bottom">
        <button type="button" class="btn btn-default px-0 pt-0 me-3 d-flex align-items-center">
          <span class="material-symbols-outlined me-1">thumb_up</span>
          2,274
        </button>
        <button type="button" class="btn btn-default px-0 pt-0 me-3 d-flex align-items-center">
          <span class="material-symbols-outlined me-1">sms</span>
          67
        </button>
        <button type="button" class="btn btn-default px-0 pt-0 me-3 d-flex align-items-center">
          <span class="material-symbols-outlined me-1">upload</span>
          124
        </button>
      </div>
      <div class="py-4 mb-4">
        <p class="mb-3">Comments</p>
        <div class="d-flex flex-column justify-content-between">
          <div class="d-flex justify-content-between mb-3">
            <!-- avatar -->
            <div class="d-flex">
              <a [routerLink]="['/', feed.author]">
                <img [src]="feed.avatar" alt="avatar" class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
              </a>
              <div>
                <p class="m-0 fw-bold">
                  <a [routerLink]="['/', feed.author]">{{ feed.author }}</a>
                </p>
                <p class="mb-0">Commentul meu</p>
                <span class="text-muted fs-7">{{ feed.timestamp }}</span>
              </div>
            </div>
          <button type="button" class="btn text-primary"><span class="material-symbols-outlined">thumb_up</span></button>
        </div>
        <div class="d-flex flex-column justify-content-between mb-3">
          <div class="d-flex justify-content-between">
            <!-- avatar -->
            <div class="d-flex">
              <a [routerLink]="['/', feed.author]">
                <img [src]="feed.avatar" alt="avatar" class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
              </a>
              <div>
                <p class="m-0 fw-bold">
                  <a [routerLink]="['/', feed.author]">{{ feed.author }}</a>
                </p>
                <p class="mb-0">Commentul meu</p>
                <span class="text-muted fs-7">{{ feed.timestamp }}</span>
              </div>
            </div>
          <button type="button" class="btn text-primary"><span class="material-symbols-outlined">thumb_up</span></button>
        </div>
        </div>
        </div>
      </div>
      <div class="border-top py-4 mt-auto bg-black p-3 position-absolute bottom-0 w-100">
        <form class="d-flex justify-content-between bg-dark p-0 ps-3 mt-auto rounded-5 align-items-center">
        <div class="d-flex flex-grow-1 align-items-center">
          <div class="form-group flex-grow-1">
            <input
                id="typeahead-format"
                type="text"
                class="form-control border-0 bg-transparent shadow-none p-0 w-100 fs-5"
                placeholder="Log in or sign up to comment"
              />
          </div>
        </div>
        <div>
          <button class="btn btn-gradient-primary rounded-circle p-0 rounded-5"><span class="material-symbols-outlined m-0 d-block">
            keyboard_arrow_right
            </span></button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
