<div class="modal-body overflow-hidden py-0 h-100">
  <div class="row h-100">
    <div class="col-8 d-flex align-items-center flex-grow-1 position-relative">
      <button type="button" class="btn-close align-self-start mt-3" aria-label="Close"
        (click)="activeModal.close()"></button>
      <!-- Media -->
      <div class="px-5 text-center" *ngIf="post?.medias?.length else noMediaTemplate">
        <div *ngFor="let media of post.medias" class="shadow mt-3 mb-5 border-bottom text-center">
          <ng-container *ngIf="media?.contentType !== 'video_mp4'; else videoPreview">
            <img [src]="media.url.url.href" alt="Image preview" class="img-fluid" />
          </ng-container>
          <ng-template #videoPreview>
            <video [src]="media.url.url.href" controls class="img-fluid"></video>
          </ng-template>
        </div>
      </div>
      <!-- No Media -->
       <ng-template #noMediaTemplate>
        <div class="px-5 w-100 text-center fs-5">
          <p>{{ post?.content }}</p>
        </div>
       </ng-template>
      <div>
        <button type="button" class="btn btn-dark btn-report" aria-label="Close"
          (click)="activeModal.close()">Report</button>
        <div>
          <button type="button" class="btn btn-dark mb-2" aria-label="Close" (click)="activeModal.close()">
            <i class="fa fa-chevron-up"></i>
          </button>
          <button type="button" class="btn btn-dark" aria-label="Close" (click)="activeModal.close()">
            <i class="fa fa-chevron-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-between pt-5">
        <div class="d-flex">
          <img src="https://avatar.iran.liara.run/public/31" alt="avatar" class="rounded-circle me-2"
            style="width: 38px; height: 38px; object-fit: cover" />
          <div>
            <a routerLink="">
              <p class="m-0 fw-bold">{{ post?.author?.data?.firstName }} {{ post?.author?.data?.lastName }}</p>
            </a>
            <span class="text-muted fs-7">{{ post?.updatedAt | date }}</span>
          </div>
        </div>
        <button class="btn btn-gradient-primary w-25" type="submit">Follow</button>
      </div>
      <div class="py-4">
        <p>{{ post?.content }}</p>
      </div>
      <div class="d-flex flex-row mt-1 border-bottom">
        <button type="button" class="btn btn-default px-0 pt-0 me-3 d-flex align-items-center">
          <span class="material-symbols-outlined me-1">thumb_up</span>
          2,274
        </button>
        <button type="button" class="btn btn-default px-0 pt-0 me-3 d-flex align-items-center">
          <span class="material-symbols-outlined me-1">sms</span>
          67
        </button>
        <button type="button" class="btn btn-default px-0 pt-0 me-3 d-flex align-items-center">
          <span class="material-symbols-outlined me-1">upload</span>
          124
        </button>
      </div>
      <div class="py-2">
        <h5 class="mb-3">Comments</h5>
        <div class="d-flex flex-column justify-content-between">
          <div class="d-flex justify-content-between mb-3">
            <!-- avatar -->
            <div class="d-flex">
              <a>
                <img src="https://avatar.iran.liara.run/public/1" alt="avatar" class="rounded-circle me-2"
                  style="width: 38px; height: 38px; object-fit: cover" />
              </a>
              <div>
                <p class="m-0 fw-bold">
                  <a>Jessica Thompson</a>
                </p>
                <p class="mb-0">&#10084;&#65039;</p>
                <span class="text-muted fs-7">2m ago &#x2022; 86 Likes</span>
              </div>
            </div>
            <button type="button" class="btn text-primary"><span
                class="material-symbols-outlined">thumb_up</span></button>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <!-- avatar -->
            <div class="d-flex">
              <a>
                <img src="https://avatar.iran.liara.run/public/22" alt="avatar" class="rounded-circle me-2"
                  style="width: 38px; height: 38px; object-fit: cover" />
              </a>
              <div>
                <p class="m-0 fw-bold">
                  <a>Dustin Grant</a>
                </p>
                <p class="mb-0">Lol &#128518;</p>
                <span class="text-muted fs-7">10m ago &#x2022; 4 Likes</span>
              </div>
            </div>
            <button type="button" class="btn text-primary"><span
                class="material-symbols-outlined">thumb_up</span></button>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <!-- avatar -->
            <div class="d-flex">
              <a>
                <img src="https://avatar.iran.liara.run/public/61" alt="avatar" class="rounded-circle me-2"
                  style="width: 38px; height: 38px; object-fit: cover" />
              </a>
              <div>
                <p class="m-0 fw-bold">
                  <a>Leslie Alexander</a>
                </p>
                <p class="mb-0">Very true!</p>
                <span class="text-muted fs-7">15m ago &#x2022; 19 Likes</span>
              </div>
            </div>
            <button type="button" class="btn text-primary"><span
                class="material-symbols-outlined">thumb_up</span></button>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <!-- avatar -->
            <div class="d-flex">
              <a>
                <img src="https://avatar.iran.liara.run/public/74" alt="avatar" class="rounded-circle me-2"
                  style="width: 38px; height: 38px; object-fit: cover" />
              </a>
              <div>
                <p class="m-0 fw-bold">
                  <a>Ana Cosanzeana</a>
                </p>
                <p class="mb-0">&#128522;</p>
                <span class="text-muted fs-7">19m ago &#x2022; 177 Likes</span>
              </div>
            </div>
            <button type="button" class="btn text-primary"><span
                class="material-symbols-outlined">thumb_up</span></button>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <!-- avatar -->
            <div class="d-flex">
              <a>
                <img src="https://avatar.iran.liara.run/public/531" alt="avatar" class="rounded-circle me-2"
                  style="width: 38px; height: 38px; object-fit: cover" />
              </a>
              <div>
                <p class="m-0 fw-bold">
                  <a>Jacob Washington</a>
                </p>
                <p class="mb-0">This is such a powerful quote! &#128513;</p>
                <span class="text-muted fs-7">20m ago &#x2022; 192 Likes</span>
              </div>
            </div>
            <button type="button" class="btn text-primary"><span
                class="material-symbols-outlined">thumb_up</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>