@import 'src/styles/variables';

:host {
    height: 100%;
    .btn-close {
      position: absolute;
      left: 15px;
      top: 0px;
    }

    .btn-report {
      position: absolute;
      right: 15px;
      top: 15px;
    }
}
