<div class="mt-3 container" style="width: 100%;">
    <div class="row d-flex justify-content-sm-between">
        <h2 class="col-md-2">Wallet</h2>
        <div class="d-flex flex-row align-items-center col-md-2 " style="width: 96px; height: 36px">
            <p class="me-1 mb-0">1</p>
            <img class="me-2" src="./assets/images/logo.png" alt="" style="height: 12px; width: 22px;">
            <p class="m-0" >= $1</p>
        </div>
    </div> 
        <div class=" mt-5 d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-row align-items-center">
                <img class="me-2" src="./assets/images/logo.png" alt="" style="height: 24px; width: 43px;">
                <h1 class="m-0 fw-bold" >4.6377,77</h1>
            </div>
            <p class="text-secondary">= 4.6377</p>
            <div class="d-flex gap-2 mt-3 mb-5">
                <button class="btn btn-gradient-primary rounded-pill px-4 py-1 d-flex flex-row align-items-center"><span class="material-symbols-outlined me-2">
                    upload
                    </span> <p class="mb-0">Top-up</p>
                </button>
                    
                        <button class="btn btn-gradient-primary rounded-pill px-4 py-1 d-flex flex-row align-items-center"><span class="material-symbols-outlined me-2">
                            Download
                            </span> <p class="mb-0">Withdraw</p>
                        </button>
              
            </div>
            <p class="text-secondary mt-2" style="margin-left: -270px;">TRANSACTIONS</p>
            <div class="d-flex flex-row justify-content-between align-items-center py-3 border-bottom border-secondary" style="width: 375px;">
                <div class="d-flex flex-row align-items-center me-5">
                    <span class="material-symbols-outlined me-2 text-primary bg-dark rounded-circle p-2">upload</span> 
                    <div class="d-flex flex-column">
                        <p class="mb-0">Top-up</p>
                        <p class="text-secondary mb-0">25 Sep 2023</p>
                    </div>
                </div>
                <p class="text-primary mb-0 ms-5">$ 1500</p>
            </div>
            <div class="d-flex flex-row justify-content-between align-items-center py-3 border-bottom border-secondary" style="width: 375px;">
                <div class="d-flex flex-row align-items-center me-5">
                    <span class="material-symbols-outlined me-2 text-primary bg-dark rounded-circle p-2">download</span> 
                    <div class="d-flex flex-column">
                        <p class="mb-0">Withdrawal</p>
                        <p class="text-secondary mb-0">25 Sep 2023</p>
                    </div>
                </div>
                <p class="text-primary mb-0 ms-5">$ 500</p>
            </div>
        </div>    
</div>
