<div class="modal-header">
  <div class="modal-title d-flex align-items-center">
      <img [src]="media.thumbnail" class="circle" />
      <div class="name">{{ media.author }}</div>
  </div>
  <button type="button" class="btn btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="card">
  
      <div class="desc">{{ media.title }}</div>

  <div class="details">
    <div class="tags">
      <ng-container *ngFor="let tag of media.tags">
        <span class="tag">#{{ tag }}</span>
      </ng-container>
    </div>
    <div class="video-wrapper">
      <video [src]="media.videoUrl" controls autoplay></video>
    </div>
  </div>
</div>