<GridLayout rows="*, auto" class="login-container">
  <StackLayout row="0" class="form" verticalAlignment="center">
    
    <StackLayout class="input-container">
      <TextField [(ngModel)]="name" hint="Full Name" class="input"  style="padding: 10 20"></TextField>
    </StackLayout>

    <StackLayout class="input-container">
      <TextField [(ngModel)]="email" hint="Email" class="input"  style="padding: 10 20"></TextField>
    </StackLayout>

    <StackLayout class="input-container">
      <TextField [(ngModel)]="password" hint="Password" secure="true" class="input"  style="padding: 10 20"></TextField>
    </StackLayout>

    <StackLayout class="input-container">
      <TextField [(ngModel)]="confirmPassword" hint="Confirm Password" secure="true" class="input" style="padding: 10 20"></TextField>
    </StackLayout>

    <Button text="Register" (tap)="onRegister()" class="button" [isEnabled]="!isLoading"></Button>

    <ActivityIndicator busy="{{ isLoading }}"></ActivityIndicator>
    <Label text="Already have an account? Go to login" class="login-label" (tap)="goToLogin()" textAlignment="center"></Label>
  </StackLayout>
</GridLayout>
